.projects-list {
  display: flex;
  flex-wrap: wrap;

  padding-bottom: 94px;

  margin-left: $negative-list-gap;
  margin-top: $negative-list-gap;
}

.projects-list__item {
  flex-basis: calc((100% / 3) - 30px);

  margin-left: $project-list-gap;
  margin-top: $project-list-gap;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .project-deck__text {
    transform: translateY(0);
  }
}

.project-deck {
  position: relative;
  overflow: hidden;
}

.project-deck__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;

  padding: 63px 24px;

  transform: translateY(101%);
  transition: transform 250ms ease;

  background-color: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: $white;
}

.projects-subject {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.projects-subject__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;

  color: $base-color-black;
}

.projects-subject__text {
  font-size: 16px;
  line-height: 1.9em;

  color: $secondary-color-gray;
}
