.clients__header {

    padding-top: 94px;
  
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  
  }
  
  .clients-list {
  
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .clients-list__item {
  
    padding-top: 50px;
    padding-bottom: 94px;

    &:not(:last-child) {
  
      margin-right: 30px;
    
    }
  }
  
  .clients-list__link {
  
    display: flex;
  
    border: 1px solid #afb1b8;
    border-radius: 4px;
  
    padding: 16px 32px;
  
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
  
      border: 1px solid var(--accent-color);
      border-radius: 4px;
    
    }

    &:hover .clients-list__icon,
    &:focus .clients-list__icon {
    
      fill: $accent-color;
    
    }
  
  }

  .clients-list__icon {
  
    fill: #afb1b8;
  
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
  }