.modal__header {
  padding-bottom: 12px;

  text-align: center;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.form-field {
  margin-bottom: 10px;
}

.form-field__label {
  flex-direction: column;
  margin-bottom: 4px;

  width: 448px;

  font-size: 12px;

  color: #757575;
}

.modal-box__input {
  width: 100%;
  height: 40px;

  padding-left: 42px;

  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }

  &:hover + .modal-box__icons,
  &:focus + .modal-box__icons {
    fill: $accent-color;
  }
}

.modal-box {
  position: relative;
}

.modal-box__icons {
  position: absolute;

  display: flex;

  left: 15px;
  top: 50%;
  transform: translateY(-50%);

  fill: #212121;
}

.form-field__comment {
  padding: 12px 16px 12px 16px;

  width: 100%;
  height: 120px;

  font-size: 12px;

  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  resize: none;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;

    outline: none;
  }
}

.checkbox__label {
  display: flex;
  justify-content: center;

  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: #757575;
}

.form-field__checkbox:checked + .checkbox__label .form-field__btn {
  background-color: var(--accent-color);
  fill: var(--white);
  border: none;
}

.form-field__link {
  color: $accent-color;
}

.form-field__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;

  width: 16px;
  height: 15px;

  border: 2px solid #090b13;
  border-radius: 2px;
}

.form-field__icon {
  fill: $white;
}

.modal-form-btn {
  display: block;

  margin: 30px auto 0px;

  padding-top: 30px;
  padding: 10px 55px;

  background: #2196f3;
  border-radius: 4px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;

  color: $white;

  cursor: pointer;
}
