.hero {
  text-align: center;

  font-weight: 700;
  font-size: 44px;
  line-height: 1.4em;
  letter-spacing: 0.06em;

  color: $white;
  background-image: url(../images/header-image-copy.jpg);
  background-repeat: no-repeat;
  background-position: center;

  &__title {
    padding-top: 200px;
  }
}
