.footer-form {

    position: relative;
  
    margin-left: 93px;
  
  }
  
  .footer-form__title {
  
    padding-bottom: 20px;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: $white;
  
  }
  
  .footer-form__item {
  
    display: flex;
  
  }
  
  .footer-form__input {
  
    width: 358px;
    height: 50px;
  
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
  
    background: none;
  
  }
  
  .footer-form__btn {
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 200px;
    height: 50px;
  
    margin-left: 12px;
  
    background: $accent-color;
    border-radius: 4px;
    border: none;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
  
    letter-spacing: 0.06em;
  
    color: $white;
  
    cursor: pointer;
  
  }
  
  .footer-form__icon {
    margin-left: 10px;
  
    fill: $white;
  
  }