.socia-list {

    display: flex;
    justify-content: center;
    align-items: center;
  
    padding-bottom: 30px;

    &:not(:last-child) {
  
      margin-right: 10px;
    
    }
  
  }
  
  .socia-list__link {
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 44px;
    height: 44px;
  
    border-radius: 50%;
  
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
  
      background-color: $accent-color;
    
    }

    &:hover .socia-list__icon,
    &:focus .socia-list__icon {
  
      fill: $white;
      
    }
  }
  
  
  .socia-list__icon {
  
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
    fill: #afb1b8;
  
  }