.team {
  padding-bottom: 94px;

  background: #f5f4fa;
}

.team__header {
  padding-top: 94px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1, 16em;
  text-align: center;
}

.team-list {
  display: flex;
}

.team-list__item {
  padding-top: 50px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team-card {
  background-color: $white;

  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list__image {
  width: 270px;
  height: 260px;
}

.team-card__title {
  padding-top: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2em;
  text-align: center;
}

.team-card__text {
  padding-top: 10px;
  padding-bottom: 30px;

  font-size: 16px;
  line-height: 1.2em;
  text-align: center;

  color: $secondary-color-gray;
}
